{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}
    Index
{% endblock %}

{% block  body_block %}

    {% if user.is_authenticated %}

    <h1>Rango says... hello {{ user.username }}!</h1>

    <p> you have visited: {{ visits }} time(s)</p>

    <p>
    want to <a href="{% url 'logout' %}">Logout</a><br />
    </p>
{% else %}

    <h1>Rango says... hello world!</h1>



{% comment %}    <a href="/rango/register/">Register Here</a>{% endcomment %}
{% comment %}    <a href="{% url 'register' %}">Register Here</a>{% endcomment %}
{% comment %}     <a href="{% url 'registration_register' %}">Register here </a>{% endcomment %}


{% comment %}    <a href="/rango/login/">Login</a>{% endcomment %}
{% comment %}    <a href="{% url 'login' %}">Login</a>{% endcomment %}

{% endif %}


    {% if categories %}
        <ul>
            {% comment %}
                        {% for category in categories %}
                            <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                        {% endfor %}
            {% endcomment %}

            {% for category in categories %}
                <li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
            {% endfor %}

        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}



{% comment %}    <a href="/rango/about/">About</a><br />{% endcomment %}
    <a href="{% url 'about' %}">About</a><br />

        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />

{% endblock %}

